:root {
  --animation-slide-duration: .4s;
  --animation-scale-duration: .4s;
  --calendar-months-col: 4;
  --calendar-padding: 12;
  --calendar-width: calc(276 + (var(--calendar-padding) * 2));
}

.date-picker-main {
  position: relative;
  display: inline-block;
}

.date-button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: white;
  cursor: pointer;
  min-width: 150px;
  text-align: left;
  color: #333;
}

.calendar {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: calc(var(--calendar-width) * 1px);
  padding: 0;
  margin-top: 1px;
}

.calendar.hideHiddenOverlay {
  overflow: hidden;
}

.calendar.showHiddenOverlay {
  overflow: visible;
}

.calendar-header-container {
  position: relative;
}

.calendar-header {
  display: flex;
  flex-direction: column;
  margin: calc(var(--calendar-padding) * 1px) calc(var(--calendar-padding) * 1px) 0;
}

.calendar-body-container {
  position: relative;
}

.year-navigator,
.month-navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.navigator-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid #e4e4e7;
  display: flex;
  opacity: 0.5;
  color: #333;
}

.navigator-button:hover {
  opacity: 1;
}

.navigator-title {
  padding: 4.8px 8px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #fff;
  display: flex;
  opacity: 1;
  font-weight: 700;
  font-size: 16px;
  color: #71717a;
  line-height: normal;
}

.navigator-title:hover {
  border: 1px solid #e4e4e7;
}

.navigator-title.disabled {
  cursor: default;
  pointer-events: none;
}

.year-navigator span,
.month-navigator span {
  font-weight: bold;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  margin-bottom: 8px;
  background-color: transparent;
}

.weekday {
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  padding: 6px 0;
  color: #71717a;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.day {
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
  border-radius: 4px;
  color: #09090b;
  line-height: 1.2em;
}

.day:hover:not(.empty) {
  background-color: #f0f0f0;
}

.day.empty {
  pointer-events: none;
  color: #fff;
  user-select: none;
}

.day.selected {
  background-color: #007bff;
  color: white;
}

.months-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  background-color: transparent;
}

.month {
  text-align: center;
  padding: 19px 0;
  cursor: pointer;
  border-radius: 4px;
  font-size: 29px;
  color: #09090b;
  line-height: 1.2em;
}

.month:hover {
  background-color: #f0f0f0;
}

.month.selected {
  background-color: #007bff;
  color: white;
}

.years-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  background-color: transparent;
}

.decades-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  background-color: transparent;
}

.will-change-transform-and-opacity {
  will-change: transform, opacity; 
}

.will-change-scale-and-opacity {
  will-change: scale, opacity;
}

.year {
  text-align: center;
  padding: 21px 0 22px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 25px;
  color: #09090b;
  letter-spacing: -1px;
  line-height: 1.2em;
}

.year:hover {
  background-color: #f0f0f0;
}

.year.selected {
  background-color: #007bff;
  color: white;
}

.decade {
  text-align: center;
  padding: 17px 0 18px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  color: #09090b;
  letter-spacing: -0.5px;
  line-height: 1.2em;
}

.decade:hover {
  background-color: #f0f0f0;
}

.decade.selected {
  background-color: #007bff;
  color: white;
}

@keyframes transitionGridSlideAnimation {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX();
    opacity: 1;
  }
}

.transition-grid-animate-slideLeft {
  animation: transitionGridSlideAnimation var(--animation-slide-duration) ease-in forwards;
}

.transition-grid-animate-slideRight {
  animation: transitionGridSlideAnimation var(--animation-slide-duration) ease-in reverse forwards;
}

@keyframes mainGridSlideAnimation {
  0% {
    transform: translateX();
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.main-grid-animate-slideLeft {
  animation: mainGridSlideAnimation var(--animation-slide-duration) ease-in forwards;
}

.main-grid-animate-slideRight {
  animation: mainGridSlideAnimation var(--animation-slide-duration) ease-in reverse forwards;
}

@keyframes mainGridScaleAnimation {
  0% {
    transform: scale(calc((var(--calendar-width)/var(--calendar-months-col))/var(--calendar-width)));
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.main-grid-animate-contract {
  animation: mainGridScaleAnimation var(--animation-scale-duration) ease-out reverse forwards;
}

.main-grid-animate-expand {
  animation: mainGridScaleAnimation var(--animation-scale-duration) ease-out forwards;
}

.header-transition, .body-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - calc(var(--calendar-padding) * 1px) - calc(var(--calendar-padding) * 1px));
  pointer-events: none;
  user-select: none;
}

.header-transition {
  margin: 0 0 0 calc(var(--calendar-padding) * 1px);
}

.body-transition {
  margin: 0 calc(var(--calendar-padding) * 1px) calc(var(--calendar-padding) * 1px);
}

@keyframes transitionGridScaleAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
}
  100% {
    transform: scale(var(--calendar-months-col));
    opacity: 0;
  }
}

.transition-grid-animate-contract {
  animation: transitionGridScaleAnimation var(--animation-scale-duration) ease-out reverse forwards;
}

.transition-grid-animate-expand {
  animation: transitionGridScaleAnimation var(--animation-scale-duration) ease-out forwards;
}

.days-grid-container, .months-grid-container, .years-grid-container, .decades-grid-container {
  margin: 0 calc(var(--calendar-padding) * 1px) calc(var(--calendar-padding) * 1px);
}

.hidden {
  visibility: hidden;
}
